/* Active link color */
.active {
  color: #007bff !important;
  font-weight: bold;
}
.pac-container {
  z-index: 99999 !important;
  position: absolute !important;
}

.mic-animate {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
